spring:
    main:
        banner-mode: off
    application:
        name: dev-mock-board
    threads:
        virtual:
            enabled: true
    mvc:
        async:
            request-timeout: 3600000
logging:
    level:
      dev:
          mockboard: DEBUG